node_modules/
*.log

# Folder temp (hasil konversi sementara)
temp/

# File output test (tidak perlu masuk repo)
test_output.ogg
test_output.mp3
*.ogg
*.mp3

debug_sticker.json
dino.was
dino_extracted/
download_dino.js
test_send.js

session/